In [1]:
#from datetime import time
import time
import pandas as pd
from connect_to_driver import my_driver
# from adding_exel_file import adding_exel
from selenium.webdriver.chrome.options import Options
from shop_info import get_data
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import mysql.connector

In [2]:

df = pd.read_excel('postcode.xlsx')
#print(df['city'],df['post_codes'])
print(len(df['City']),len(df['Postcode']))
df
#for city , postcode in zip(df['city'],df['post_codes']):

#print(city,postcode)

723 723

              City Postcode
0         Aberdeen      AB1
1         Aberdeen      AB2
2         Aberdeen      AB3
3         Aberdeen      AB4
4         Aberdeen      AB5
..             ...      ...
718  Wolverhampton     WV14
719  Wolverhampton     WV15
720  Wolverhampton     WV16
721  Wolverhampton     WV98
722  Wolverhampton     WV99

[723 rows x 2 columns]

In [3]:
df[df['City']== 'Birmingham']

           City Postcode
40   Birmingham       B1
41   Birmingham       B2
42   Birmingham       B3
43   Birmingham       B4
44   Birmingham       B5
..          ...      ...
114  Birmingham      B95
115  Birmingham      B96
116  Birmingham      B97
117  Birmingham      B98
118  Birmingham      B99

[79 rows x 2 columns]

In [4]:
df.iloc[91]

City        Birmingham
Postcode           B63
Name: 91, dtype: object

In [5]:
driver = my_driver()
driver.get('https://www.google.com/maps/search/Restaurants/')
time.sleep(5)
reject = driver.find_element(By.XPATH,
                             '//*[@id="yDmH0d"]/c-wiz/div/div/div/div[2]/div[1]/div[3]/div[1]/div[1]/form[1]/div/div/button')
reject.click()
time.sleep(5)

Driver connected

In [6]:
for city , post in zip(df['City'][91:],df['Postcode'][91:]):
    try:
        (CITY, POST, Shop_name, Address, Phone_number, Day, Hour) = get_data(driver, city, post)
        print(f"City: {CITY} Post code: {POST} Shop Name:{Shop_name} Address: {Address} Phone number: {Phone_number}")
        for city , post , shop_name , address , phone_number , day , hour in zip(CITY, POST, Shop_name, Address, Phone_number, Day, Hour):
            print(day)
            print(hour)
            if day!='Empty' and len(day)==7:

                try:

                    mydb = mysql.connector.connect(
                          host="p3nlmysql165plsk.secureserver.net",
                          user="Hamide",
                          password="Vmkw788^6",
                          database="Sale_find_customer"
                    )
                    mycursor = mydb.cursor()
                    sql = "SELECT shop_name, Address FROM Shopinfo_unique_2 WHERE Shop_name = %s and Address = %s and post = %s"
                    val = (shop_name, address, post)
                    mycursor.execute(sql, val)

                    # if the record does not exist, insert a new record
                    if mycursor.fetchone() is None:

                        if day[0]=='Saturday':

                            sql = "INSERT INTO Shopinfo_unique_2 (City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday," \
                                "Friday) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number), '{}'.format(hour[0]),'{}'.format(hour[1]), '{}'.format(hour[2]),'{}'.format(hour[3]), '{}'.format(hour[4]), '{}'.format(hour[5]),'{}'.format(hour[6]))

                        if day[0]=='Sunday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[6]),'{}'.format(hour[0]),'{}'.format(hour[1]), '{}'.format(hour[2]),'{}'.format(hour[3]), '{}'.format(hour[4]), '{}'.format(hour[5]))

                        if day[0]=='Monday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val =  ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[5]),'{}'.format(hour[6]),'{}'.format(hour[0]),'{}'.format(hour[1]),'{}'.format(hour[2]),'{}'.format(hour[3]),'{}'.format(hour[4]))
                            
                        if day[0]=='Tuesday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[4]),'{}'.format(hour[5]),'{}'.format(hour[6]),'{}'.format(hour[0]),'{}'.format(hour[1]), '{}'.format(hour[2]),'{}'.format(hour[3]))

                        if day[0]=='Wednesday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[3]),'{}'.format(hour[4]),'{}'.format(hour[5]),'{}'.format(hour[6]),'{}'.format(hour[0]),'{}'.format(hour[1]), '{}'.format(hour[2]))

                        if day[0]=='Thursday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[2]),'{}'.format(hour[3]),'{}'.format(hour[4]),'{}'.format(hour[5]),'{}'.format(hour[6]),'{}'.format(hour[0]),'{}'.format(hour[1]))

                        if day[0]=='Friday':
                            sql = "INSERT INTO Shopinfo_unique_2(City,post,Shop_name,Address,Phone_Number,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
                            val = ('{}'.format(city), '{}'.format(post),'{}'.format(shop_name), '{}'.format(address),'{}'.format(phone_number),'{}'.format(hour[1]),'{}'.format(hour[2]),'{}'.format(hour[3]),'{}'.format(hour[4]),'{}'.format(hour[5]),'{}'.format(hour[6]),'{}'.format(hour[0]))

                        mycursor.execute(sql, val)

                        mydb.commit()
                    else:
                        print("Record already exists")
                        
                    print(mycursor.rowcount, "record inserted.")
                except mysql.connector.Error as err :
                    print(err)
                    #print(e)
                    #mysql.connector.errors
                    pass
                    #print("Shop does not have open hours")
            else:
                print("Shop does not have open hours")

    except TimeoutException as Tm:
        print('You have time error')
        pass

ok

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=116.0.5845.179)